body {
  font-family: "Roboto", sans-serif;
}
.nav {
  color: white;
}
img {
  width: 100px;
}
.navber-bezal {
  display: flex;
  justify-content: flex-end;
}
#navbar-website {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  z-index: 100;
  width: 100%;
}
.layer{
    background-color: rgba(31, 31, 31, 0.55);
}
.second-sec .carousel-indicators .active,
.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
}
.carousel-indicators [data-bs-target]{
  background-color: #ddd !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 20px;
  background-size: 26px !important;
}

.carousel-control-prev {
  height: 42px;
  left: 0 !important;
  justify-content: flex-start !important;
  top: calc(50% - 42px)!important;
}

.carousel-control-next {
  top: 50% !important;
  left: 0 !important;
  justify-content: flex-start !important;
  height: 42px;
  width: 62px;
}
.carousel-item-layer {
  height: 100vh;
}
.slide .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
}
.slide .caption h2 {
  font-size: 100px;
  margin-bottom: 15px;
}
.slide .caption p {
  font-size: 20px;
  margin-bottom: 15px;
}
.btn {
  margin: 15px;
}
.slide .caption a {
  border-radius: 0;
}
/*about*/
.about {
  padding-top: 70px;
  padding-bottom: 70px;
}
.head {
  text-transform: capitalize;
}
.head h2 {
  font-size: 15px;
}
.head p {
  color: gray;
}
.head a {
  border-radius: 10px;
}
.head .home-desc{
  animation-iteration-count: infinite;
  animation-duration: 2s;
  position: relative;
  
  padding: 20px;
 
}
.header-animation::after{
  content: '';
  position: absolute;
  animation-name: test;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: #00c3da;
} 
@keyframes test{
  1% {content: '|';}
  50% {content:'apps|' ;}
  51% {content: 'websites|';}
  100% {content: 'softwares|';}
}
/* team */
.team .title h2 {
  font-weight: 700;
  font-size: 40px;
}
.title p {
  color: gray;
}
.team .title img {
  position: relative;
  width: 25%;
}
.team .title li {
  position: absolute;
}
.team .title h5 + p {
  position: absolute;
}
/* */
.row h4 {
  font-size: 20px;
}
.row ul {
  text-decoration: none;
}
.row ul li {
  margin: 5px;
}
.row h2 {
  font-size: 35px;
  font-weight: 700;
}

.list ul li {
  list-style-type: none;
}
.list {
  background-color: #626262;
  color: #fff;
}
/*prices*/
.title h2 {
  font-weight: 700;
  font-size: 40px;
}
.title p {
  color: gray;
}

.pricing-footer {
  margin-top: 100px;
}
.team-img{
    position: relative;
}
.team-img figure{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 195, 218, 0.9);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff !important;
    opacity: 0;
    transition: opacity 0.2s;
}
.team-img:hover figure{
    opacity: 1;
}
.prices{
  background-color: #f7f7f7;
}
.card{
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.pricing-head button {
  border-radius: 20px;
}
.pricing-head {
  justify-content: space-between;
}
.best-value{
  background-color: #00c3da;
  color: #fff;
  font-size: 10px;
}
.second-sec{
  background-color: #f7f7f7;
  padding: 60px 0;
}
.second-sec .carousel-indicators {
  top: 100%;
}
.second-sec .carousel-indicators[data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.second-sec .carousel-indicators .active {
  background-color: #00c3da !important;
}
.second-sec .person{
  width: 50%;
  margin: auto;
  
}
.my-img img {
  width: 100px;
}
.contact{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  }
  .map{
      width: 49%;
  }
  
  .form-footer{
      padding:0px 50px;
      width:49%;
  }
  
  .form-label{
      font-size: 14px;
      
  }
